body > main {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 4rem 1rem;
}

#content_about {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  padding: 0.75rem;
  margin-bottom: 2rem;
}

#content_about h3 {
  font-size: 2rem;
  color: white;
  padding: 0.75rem;
}

#content_about p {
  color: whitesmoke;
  padding: 0.75rem;
}

@media (max-width: 1032px) {
  #content_about {
    width: 100%;
    align-items: center;
    text-align: center;
  }
}
